body {
    font-family: serif;
}
.first-div, .tasklist {
    display: grid;
    grid-template-columns: 200px 170px 100px 100px;
    column-gap: 10px;
    row-gap: 30px;
    font-weight: 700;
    font-size: 18px;
}
.tasklist2 {
    display: grid;
    grid-template-columns: 200px 170px 100px 100px;
    column-gap: 10px;
    row-gap: 30px;
    color: green;
    font-weight: 700;
    font-size: 18px;

}
.first-div {
    margin-bottom: 10px;
}
.input-datetime, .input-task {
    font-size: 14px;
    padding: 8px;

}
.add-button {
    border: none;
    color: white;
    background-color: rgb(231, 201, 25);
    border-radius: 5px;
    cursor: pointer;
}

.delete-button {
    border: none;
    color: white;
    background-color: rgb(231, 71, 25);
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;  
}
.status-label {
    font-size: 16px;
    margin-top: 8px;
    background-color: rgb(18, 135, 18);
    color: white;
    border: 1px solid green;
    margin-top: 0px;
    align-content: center;
    padding-left: 10%;
}